# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
src/data/*.csv

# Models
*.pth
*.pt
*.pkl

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db